/*Header*/

body, h1, ul {
    margin: 0;
    padding: 0;
}

#header {
    background-color: black;
    padding: 20px 0;
}

.all-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.all-header h1{
    padding-left: 30px;
}
#header h1 {
    color: white;
    font-size: 30px;
    margin-left: -6px;
    margin-top: -5px;
}

.it-span {
    color: orange;
}

#header nav ul {
    display: flex;
    margin-left: -400px;
}

#header nav ul li {
    margin-left: 40px;
}

#header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    align-items: center;
}

#header nav ul li a:hover {
    color: #ff6b6b;
}

/*Lead-banner*/

#lead-banner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#first-picture {
    width: 100%;
    height: 100%;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.banner-title {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

h1 {
    font-size: 28px;
    margin-top: 20px;
    color: white;
}

p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5;
    color: white;
}

#first-hr{
    width: 50px;
    justify-content: flex-start;
    margin: 20px 0;
}
.button-first{
    height: 33px;
    width: 118px;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    margin-top: 17px;
}
h2{
    color: white;
}

.right-content1 {
    background-color: white;
    padding: 20px;
    margin-left: 350px;
    max-width: 300px;
    padding-left: -50px;
}

.right-content1 h3 {
    color: black;
    margin-bottom: 20px;
}
.right-content1 input {
    width: 100%;
    border: none;
    border-bottom: solid 1px grey;
    
}
#input-second-form{
    width: 100%;
    border: none;
    border-bottom: solid 1px grey;
}
#input-second-form input {
    width: 85%;
    margin: 10px 12px 10px 12px;
    padding: 8px 10px;
    border-bottom: 1px solid grey;
}

.button-second{
    width: 100%;
    height: 40px;
    border: none;
    color: white;
    background-color: orange;
    font-size: 20px;
    margin-top: 30px;
}

/*section-one*/

#section-one h2 {
    color: black;
    text-align: left;
    margin-left: 65px;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 28px;
}

#section-one p {
    color: grey;
    margin: 5px 0;
    margin-left: 30px;
}

.paragraf-logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    padding-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
}

.paragraf-logo ul {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
    margin-left: 60px;
    padding-left: 60px;
}

.paragraf-logo ion-icon {
    font-size: 60px;
    color: gray;
}

/*section-two*/

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 246, 246);
}

.first-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: black;
    color: white;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: background-color 0.3s; 
}
.first-item, .box{
    margin-top:1px;
}
.box:hover {
    background-color: orange; 
}

.second-item h3 {
    font-size: 22px;
}

.second-item p {
    color: grey;
}

#download-button {
    background-color: orange;
    color: white;
    border: none;
    height: 40px;
    width: 90px;
}

.third-item {
    width: 300px;
}

/*Section-three*/

#section-three {
    display: flex;
    padding: 20px;
}
#section-three hr{
    width: 50px;
    border-top: 2px solid orange;   
    margin: 20px 0;
}
#main-div-section-three{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left-part img {
    width: 450px;
    height: 260px;
    padding-top: 40px;
    padding-left: 20px;
}

.right-part {
    direction: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 350px;
    margin-left: 50px;
}

.right-part h3 {
    margin-top: 0;
    color: #333;
}

.right-part hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.right-part p {
    color: #666;
    font-size: 12px;
}

.right-part ul {
    list-style: none;
    padding-right: 40px;
    
}

.right-part li {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -25px;
}
.right-part li ion-icon {
    font-size: 35px;
    color: orange;
    margin-right: 15px;
}

.right-part li h4 {
    margin: 0;
    color: #333;
}

.right-part li p {
    margin: 0;
    color: #666;
}

/*Section-four*/

#section-four {
    background-color: rgb(247, 246, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left, .right {
    flex: 1;
    padding: 20px;
}

.right {
    text-align: center; 
    padding-left: 150px;
}
.left{
    padding-left: 40px;
}
.left h2, .left hr, .left p {
    margin-left: 20px; 
    margin-right: 20px;

}
.left h2{
    color: black;
}
.left p{
    color: grey;
    font-size: 12px;
}

.left hr {
    width: 50px;
    border-top: 2px solid orange;   
    margin: 20px 0;
    margin-left: 21px;
}

img {
    max-width: 100%; 
    height: 250px;
    width: 400px;
}

/*Section-five*/

#section-five{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#main-div-section-five {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0 40px;
        padding-bottom: 60px;
        max-width: 1150px;
}

.thoughtful-design, .well-crafted, .easy-to-customize{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#section-five h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

#section-five p{
    color: rgb(156, 152, 152);
    text-align: center;
    font-size: 14px;
}

#section-five hr{
    width: 50px;
    border-top: 2px solid orange;   
}

.icons{
    border: solid 2px orange;
    border-radius: 100%;
    height: 40px;
    width: 40px ;
}

/*Section-six*/

#section-six {
    text-align: center;
    padding: 20px;
    background-color: rgb(247, 246, 246);
}

#section-six h1 {
    font-size: 2rem;
    color: black;
}

#section-six-hr {
    width: 50px;
    border-top: 2px solid orange;
    margin: 20px auto;
}

#section-six p {
    color: grey;
    margin-bottom: 20px;
}
#basic-hr-first{
    width: 277px;
    border: 2px solid white;
}
#enterprise-hr{
    border: 2px solid white;
    margin-top: 20px;
    width: 277px;
}
#professional-hr{
    border: 2px solid white;
    margin-top: 20px;
    width: 277px;
}

.pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    align-items: flex-end; 
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    width: 280px;
    text-align: center;
    position: relative;
    height: 100%;
}

.card-two {
    position: relative;
    top: 0px;
    z-index: 1;
}
.card-header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
    border-bottom: 4px solid orange;
    position: relative;
}

.card-header hr {
    width: 60px;
    border: 1px solid white;
    margin: 10px auto;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.price {
    font-size: 2.5rem;
    color: white;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: gray;
}


#first-dollar, #first-price {
    color: white;
    font-size: 2.5rem;
}
#second-dollar{
    color: white;
    font-size: 40px;
}
#second-price{
    color: white;
    font-size: 70px;
}
#third-dollar, #third-price, #third-price-zero {
    color: white;
    font-size: 2.5rem;
}

#popular-text {
    background-color: orange;
    color: white;
    position: absolute;
    top: 286px;
    left:0px;
    padding: 5px;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    width: 270px;
}

.card-header-second, .card-header-third {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 1.5rem;
    border-bottom: 4px solid orange;
}

#third-list li, #first-list li, #second-list li {
    font-size: 15px;
    padding-top: 5px;
    color: gray;
}

/*Section-seven*/

#section-seven h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 50px;
}

#section-seven p{
    color: rgb(156, 152, 152);
    text-align: center;
    font-size: 15px;
}
#section-seven .divs .paragraf{
    text-align: left;
}
.paragraf {
    border: none;
    border-radius: 3%;
    background-color: rgb(244, 240, 240);
}

#section-seven hr{
    width: 50px;
    border-top: 2px solid orange;   
}
.picture1 img{
    width: 80px;
    height: 80px;
    border-radius: 100%;

}
#main-section-seven{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.divs {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 20px;
    padding: 10px 40px 10px 40px;
}
.picture1{
    display: flex;
    align-items: center;
    padding-right: 80px;
    padding-left: 20px;
    margin-left: 30px;
    padding-bottom: 30px;
}
.info{
    padding-left: 30px;
}

/*Section-eight*/

#section-eight {
    background-image: url('slike/paralax.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding: 20px; 
    height: 200px;
}

#section-eight hr {
    width: 50px;
    border-top: 1px solid white;
    margin: 20px 0;
}

#section-eight h1 h5{
    color: white; 
}
#section-eight h5{
    color: white;
    margin: 10px 0; 
}

#button-eight-section {
    padding: 10px 20px;
    margin-top: 20px;
    border: solid white;
    background-color:transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

/*Secion-nine*/

#section-nine {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#section-nine h1 {
    font-size: 32px;
    color: #333;
}

#section-nine hr {
    width: 50px;
    border: 1px solid orange;
    margin: 20px auto;
}

#section-nine p {
    color: #666;
    font-size: 18px;
    margin-bottom: 40px;
}

.contact-us {
    display: flex;
    justify-content: space-between;
    margin: auto;
    gap: 200px;
}

.contact-us form {
    width: 48%;
    display: flex;
    flex-direction: column;
}
input[type="password"],
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #d1cccc;
}

textarea {
    height: 169px;
}

#section-nine button{
    background-color: orange;
    color: white;
    border: none;
    height: 35px;
    width: 120px;
 }

/*footer*/

#footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer ul {
    display: flex;
    padding: 20px 0 0 0;
    margin: 0;
    color: white;
    justify-content: center;
}

ion-icon {
    margin: 0 20px;
}

#footer p {
    color: white;
    margin-top: 10px;
    font-size: 12px;
}
